//ПЕРЕМЕННЫЕ

@indent: 27px;
@width: 1200px;

//МИКСИНЫ-КЛАССЫ

.without_indentation() {
  padding: 0;
  margin: 0;
}

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.clearfix::before {
  content: "";
  display: table;
  width: 100%;
  clear: both;
}

//ГЛОБАЛЬНЫЕ СТИЛИ

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #ffffff;
  background-color: rgb(132, 157, 143);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}
