.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.clearfix::before {
  content: "";
  display: table;
  width: 100%;
  clear: both;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  max-width: 1200px;
  min-width: 900px;
  margin: 0 auto;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  background-color: #849d8f;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
ul {
  list-style-type: none;
}
.button {
  display: inline-block;
  vertical-align: middle;
  height: 46px;
  padding: 14px 23px;
  font-size: 1.125em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  border-radius: 23px;
  background-color: #ee6441;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ca3824), to(#f26843));
  background-image: linear-gradient(to top, #ca3824, #f26843);
  border: none;
  -webkit-box-shadow: 0 2px 2px rgba(85, 8, 0, 0.64);
  box-shadow: 0 2px 2px rgba(85, 8, 0, 0.64);
}
.button:focus,
.button:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.2))), -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to top, #e74a35, #f26843);
  outline: none;
  -webkit-box-shadow: 0 1px 2px #ac1000;
  box-shadow: 0 1px 2px #ac1000;
}
.button:active {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.07)), to(rgba(0, 0, 0, 0.07))), -webkit-gradient(linear, left top, left bottom, from(#e74a35), to(#f26843));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to bottom, #e74a35, #f26843);
  -webkit-box-shadow: inset 0 2px 2px #942718;
  box-shadow: inset 0 2px 2px #942718;
}
.button_big {
  height: 63px;
  padding: 9.5px 42px;
  border-radius: 32px;
  font-size: 2em;
  line-height: 1.375;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
  background-image: linear-gradient(to top, #e74a35, #f26843);
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}
.button_big:focus,
.button_big:hover {
  -webkit-box-shadow: 0 2px 2px #ac1000;
  box-shadow: 0 2px 2px #ac1000;
}
.button_big:active {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.07)), to(rgba(0, 0, 0, 0.07))), -webkit-gradient(linear, left top, left bottom, from(#e74a35), to(#f26843));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to bottom, #e74a35, #f26843);
  -webkit-box-shadow: inset 0 2px 2px #942718;
  box-shadow: inset 0 2px 2px #942718;
}
.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  vertical-align: middle;
  padding: 20px 15px;
  background-color: #f8f7f4;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
}
.main-nav-link {
  display: inline-block;
  height: 32px;
  padding: 7px 14px;
  font-size: 1em;
  font-weight: 700;
  line-height: 1.125em;
  text-align: center;
  color: #ffffff;
  border-radius: 16px;
  background-color: #849d8f;
}
.main-nav-link i {
  font-style: normal;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.main-nav-link i:hover,
.main-nav-link i:focus,
.main-nav-link i:active {
  border: none;
}
.main-nav-link:hover,
.main-nav-link:focus {
  color: #333333;
  background-color: #ffffff;
  outline: none;
}
.main-nav-link:active {
  -webkit-box-shadow: inset 0 2px 1px #696969;
  box-shadow: inset 0 2px 1px #696969;
}
.main-nav-link_actual,
.main-nav-link_actual:hover,
.main-nav-link_actual:focus,
.main-nav-link_actual:active {
  color: #ffffff;
  background-color: #d07058;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.main-nav-link_actual i,
.main-nav-link_actual:hover i,
.main-nav-link_actual:focus i,
.main-nav-link_actual:active i {
  border: none;
}
.link {
  font-size: 1em;
  font-weight: 500;
  line-height: 1.125em;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.link:hover,
.link:focus,
.link:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}
.link_dark {
  font-size: 0.8125em;
  font-weight: normal;
  line-height: 1.5;
  color: #323232;
  border-bottom: 1px solid rgba(50, 50, 50, 0.2);
}
.link_dark:hover,
.link_dark:focus,
.link_dark:active {
  color: #e84d37;
  border-bottom: 1px solid rgba(232, 77, 55, 0.2);
}
.main-menu {
  width: 143px;
  padding: 0;
}
.main-menu__title {
  width: 100%;
  height: 38px;
  padding: 12px 0;
  font-weight: 700;
  -webkit-box-shadow: 0 6px 0 -5px #cccac9;
  box-shadow: 0 6px 0 -5px #cccac9;
}
.main-menu__title a {
  line-height: 1.14285714;
  color: #323232;
}
.main-menu__title a:hover,
.main-menu__title a:focus,
.main-menu__title a:active {
  background: none;
}
.main-menu__item {
  width: 100%;
  margin-bottom: 4px;
}
.main-menu__link {
  display: block;
  width: inherit;
  padding-left: 21px;
  font-size: 0.875em;
  line-height: 2;
  color: #323232;
}
.main-menu__link:hover,
.main-menu__link:focus {
  background-color: #fbded7;
}
.main-menu__link:active {
  background-color: #f6b5a5;
}
.main-menu__link_active,
.main-menu__link_active:hover,
.main-menu__link_active:focus,
.main-menu__link_active:active {
  color: #ffffff;
  background-color: #d07058;
}
.input-text {
  width: 100%;
  height: 44px;
  margin-bottom: 20px;
  padding: 8px 14px;
  font-weight: 700;
  line-height: 1.5em;
  border: 2px solid #d3d3d2;
  border-radius: 5px;
}
.input-text:hover {
  border: 2px solid #9a9a9a;
}
.input-text:focus,
.input-text:active {
  color: #323232;
  border: 2px solid #2e88e4;
  outline: none;
}
.input-text::-webkit-input-placeholder {
  font-weight: normal;
  color: #999999;
}
.input-text::-moz-placeholder {
  font-weight: normal;
  color: #999999;
}
.input-text:-moz-placeholder {
  font-weight: normal;
  color: #999999;
}
.input-text:-ms-input-placeholder {
  font-weight: normal;
  color: #999999;
}
.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 9px 2.3% 0;
}
.header-bottom-wrapper {
  flex-basis: 100%;
  display: flex;
}
.header__search {
  margin-left: auto;
}
.main-nav {
  display: flex;
  align-items: center;
}
.main-nav__logo {
  height: 64px;
}
.main-nav__list {
  display: flex;
  padding: 0;
  margin: 0;
}
.bread-crumbs {
  order: 1;
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: auto;
}
.timetable {
  order: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0;
  margin: 0;
  margin-left: auto;
  font-weight: 700;
}
.timetable__workhours {
  font-size: 0.875em;
  line-height: 1em;
}
.timetable__tel {
  font-size: 1.375em;
  line-height: 1.5em;
}
.map {
  width: 100%;
  height: 430px;
  background-image: url(../../img/map/jpg);
}
