.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.clearfix::before {
  content: "";
  display: table;
  width: 100%;
  clear: both;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  background-color: #849d8f;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.button {
  display: inline-block;
  vertical-align: middle;
  height: 46px;
  padding: 14px 23px;
  font-size: 1.125em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  border-radius: 23px;
  background-color: #ee6441;
  background-image: linear-gradient(to top, #ca3824, #f26843);
  border: none;
  box-shadow: 0 2px 2px rgba(85, 8, 0, 0.64);
}
.button:focus,
.button:hover {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to top, #e74a35, #f26843);
  outline: none;
  box-shadow: 0 1px 2px #ac1000;
}
.button:active {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to bottom, #e74a35, #f26843);
  box-shadow: inset 0 2px 2px #942718;
}
.button_big {
  height: 63px;
  padding: 9.5px 42px;
  border-radius: 32px;
  font-size: 2em;
  line-height: 1.375;
  background-image: linear-gradient(to top, #e74a35, #f26843);
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}
.button_big:focus,
.button_big:hover {
  box-shadow: 0 2px 2px #ac1000;
}
.button_big:active {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to bottom, #e74a35, #f26843);
  box-shadow: inset 0 2px 2px #942718;
}
.popup {
  position: absolute;
  display: flex;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  vertical-align: middle;
  width: 40%;
  padding: 20px 15px;
  background-color: #f8f7f4;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
}
.main-nav-link {
  display: inline-block;
  height: 32px;
  padding: 7px 14px;
  font-size: 1em;
  font-weight: 700;
  line-height: 1.125em;
  text-align: center;
  color: #ffffff;
  border-radius: 16px;
  cursor: pointer;
  background-color: #849d8f;
}
.main-nav-link i {
  font-style: normal;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.main-nav-link i:hover,
.main-nav-link i:focus,
.main-nav-link i:active {
  border: none;
}
.main-nav-link:hover,
.main-nav-link:focus {
  color: #333333;
  background-color: #ffffff;
  outline: none;
}
.main-nav-link:active {
  -webkit-box-shadow: inset 0 2px 1px #696969;
  box-shadow: inset 0 2px 1px #696969;
}
.main-nav-link_actual,
.main-nav-link_actual:hover,
.main-nav-link_actual:focus,
.main-nav-link_actual:active {
  color: #ffffff;
  background-color: #d07058;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.main-nav-link_actual i,
.main-nav-link_actual:hover i,
.main-nav-link_actual:focus i,
.main-nav-link_actual:active i {
  border: none;
}
