.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.clearfix::before {
  content: "";
  display: table;
  width: 100%;
  clear: both;
}
@font-face {
  font-family: Roboto, sans-serif;
  src: url(../fonts/web/roboto.woff2), url(../fonts/web/roboto.woff);
  font-weight: 400;
}
@font-face {
  font-family: Roboto, sans-serif;
  src: url(../fonts/web/robotomedium.woff2), url(../fonts/web/robotomedium.woff);
  font-weight: 500;
}
@font-face {
  font-family: Rouble;
  src: url(../fonts/rouble.otf);
}
@font-face {
  font-family: Roboto, sans-serif;
  src: url(../fonts/web/robotobold.woff2), url(../fonts/web/robotobold.woff);
  font-weight: 700;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  position: relative;
  max-width: 1200px;
  min-width: 900px;
  margin: 0 auto;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  background-color: #849d8f;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
ul {
  list-style-type: none;
}
.background-viewport {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -100;
}
.button {
  display: inline-block;
  vertical-align: middle;
  height: 44px;
  padding: 13px 23px;
  font-size: 1.125em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  border-radius: 23px;
  background-color: #ee6441;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ca3824), to(#f26843));
  background-image: linear-gradient(to top, #ca3824, #f26843);
  border: none;
  -webkit-box-shadow: 0 2px 2px rgba(85, 8, 0, 0.64);
  box-shadow: 0 2px 2px rgba(85, 8, 0, 0.64);
}
.button:focus,
.button:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.2))), -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to top, #e74a35, #f26843);
  outline: none;
  -webkit-box-shadow: 0 1px 2px #ac1000;
  box-shadow: 0 1px 2px #ac1000;
}
.button:active {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.07)), to(rgba(0, 0, 0, 0.07))), -webkit-gradient(linear, left top, left bottom, from(#e74a35), to(#f26843));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to bottom, #e74a35, #f26843);
  -webkit-box-shadow: inset 0 2px 2px #942718;
  box-shadow: inset 0 2px 2px #942718;
}
.button_big {
  height: 63px;
  padding: 9.5px 42px;
  border-radius: 32px;
  font-size: 2em;
  line-height: 1.375;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
  background-image: linear-gradient(to top, #e74a35, #f26843);
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  -webkit-box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}
.button_big:focus,
.button_big:hover {
  -webkit-box-shadow: 0 2px 2px #ac1000;
  box-shadow: 0 2px 2px #ac1000;
}
.button_big:active {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.07)), to(rgba(0, 0, 0, 0.07))), -webkit-gradient(linear, left top, left bottom, from(#e74a35), to(#f26843));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(to bottom, #e74a35, #f26843);
  -webkit-box-shadow: inset 0 2px 2px #942718;
  box-shadow: inset 0 2px 2px #942718;
}
.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  vertical-align: middle;
  padding: 20px 15px;
  background-color: #f8f7f4;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
}
.main-nav-link {
  display: inline-block;
  vertical-align: middle;
  min-height: 32px;
  padding: 7px 14px;
  margin-bottom: 4px;
  font-size: 1em;
  font-weight: 700;
  line-height: 1em;
  text-align: center;
  color: #ffffff;
  -webkit-text-decoration: underline solid rgba(255, 255, 255, 0.2);
  text-decoration: underline solid rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  outline: none;
}
.main-nav-link:hover,
.main-nav-link:focus {
  color: #333333;
  background-color: #ffffff;
}
.main-nav-link:active {
  background-color: #ededed;
  -webkit-box-shadow: inset 0 2px 1px #696969;
  box-shadow: inset 0 2px 1px #696969;
}
.main-nav-link_actual,
.main-nav-link_actual:hover,
.main-nav-link_actual:focus,
.main-nav-link_actual:active {
  color: #ffffff;
  text-decoration: none;
  background-color: #d07058;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.link {
  display: block;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.125em;
  color: #ffffff;
  text-decoration: underline solid rgba(255, 255, 255, 0.2);
}
.link:hover,
.link:focus,
.link:active {
  color: #ffbc9e;
  text-decoration: underline solid rgba(255, 188, 158, 0.2);
}
.link_dark {
  font-size: 0.8125em;
  font-weight: normal;
  line-height: 1.5;
  color: #323232;
  text-decoration: underline solid rgba(50, 50, 50, 0.2);
}
.link_dark:hover,
.link_dark:focus,
.link_dark:active {
  color: #e84d37;
  text-decoration: underline solid rgba(232, 77, 55, 0.2);
}
.main-menu {
  width: 143px;
  padding: 0;
}
.main-menu__title {
  width: 100%;
  height: 38px;
  padding: 12px 0;
  font-weight: 700;
  -webkit-box-shadow: 0 6px 0 -5px #cccac9;
  box-shadow: 0 6px 0 -5px #cccac9;
}
.main-menu__title a {
  line-height: 1.14285714;
  color: #323232;
}
.main-menu__title a:hover,
.main-menu__title a:focus,
.main-menu__title a:active {
  background: none;
}
.main-menu__item {
  width: 100%;
  margin-bottom: 4px;
}
.main-menu__link {
  display: block;
  width: inherit;
  padding-left: 21px;
  font-size: 0.875em;
  line-height: 2;
  color: #323232;
}
.main-menu__link:hover,
.main-menu__link:focus {
  background-color: #fbded7;
}
.main-menu__link:active {
  background-color: #f6b5a5;
}
.main-menu__link_active,
.main-menu__link_active:hover,
.main-menu__link_active:focus,
.main-menu__link_active:active {
  color: #ffffff;
  background-color: #d07058;
}
.input-text {
  width: 100%;
  height: 44px;
  margin-bottom: 20px;
  padding: 8px 14px;
  font-weight: 700;
  line-height: 1.5em;
  border: 2px solid #d3d3d2;
  border-radius: 5px;
}
.input-text:hover {
  border: 2px solid #9a9a9a;
}
.input-text:focus,
.input-text:active {
  color: #323232;
  border: 2px solid #2e88e4;
  outline: none;
}
.input-text::-webkit-input-placeholder {
  font-weight: normal;
  color: #999999;
}
.input-text::-moz-placeholder {
  font-weight: normal;
  color: #999999;
}
.input-text:-moz-placeholder {
  font-weight: normal;
  color: #999999;
}
.input-text:-ms-input-placeholder {
  font-weight: normal;
  color: #999999;
}
.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 2.3% 0;
}
.header-bottom-wrapper {
  flex-basis: 100%;
  display: flex;
}
.header__search {
  display: block;
  width: 33px;
  height: 33px;
  margin-left: auto;
  font-size: 0;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}
.main-nav {
  display: flex;
  align-items: center;
}
.main-nav__logo {
  height: 64px;
}
.main-nav__list {
  display: flex;
  align-items: center;
  max-width: 435px;
  min-height: 64px;
  padding: 0;
  margin: 0;
  margin-left: 10px;
}
.bread-crumbs {
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: auto;
  margin-bottom: 5px;
}
.timetable {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0;
  margin: 0;
  margin-left: auto;
  font-weight: 700;
}
.timetable__workhours {
  font-size: 0.875em;
  line-height: 1em;
}
.timetable__tel {
  font-size: 1.375em;
  line-height: 1.5em;
}
.shop-window {
  padding: 0 2.3%;
}
.shop-window__content {
  width: 100%;
}
.shop-window__image {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -10;
  transform: translateX(-50%);
}
.shop-window__desc {
  display: block;
  margin: 273px auto 0;
  width: 800px;
  font-size: 3.75em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
}
.shop-window__link {
  position: absolute;
  left: 50%;
  margin-top: 23px;
  transform: translateX(-50%);
}
.shop-window .shop-window__slider {
  display: inline-block;
  width: 21px;
  height: 21px;
  margin: 43px 8px 63px 0;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.shop-window .shop-window__slider:hover,
.shop-window .shop-window__slider:focus {
  background-color: #b2c1b7;
}
.shop-window .shop-window__slider:active {
  background-color: #ffffff;
}
input[id="slider_1"]:checked ~ label[for="slider_1"] {
  background-color: #ffffff;
}
input[id="slider_1"]:checked ~ .shop-window__content_second,
input[id="slider_1"]:checked ~ .shop-window__content_third {
  display: none;
}
input[id="slider_1"]:checked ~ .shop-window__content_first {
  display: block;
}
input[id="slider_1"]:checked ~ .background-viewport {
  background-color: #849d8f;
}
input[id="slider_2"]:checked ~ label[for="slider_2"] {
  background-color: #ffffff;
}
input[id="slider_2"]:checked ~ .shop-window__content_first,
input[id="slider_2"]:checked ~ .shop-window__content_third {
  display: none;
}
input[id="slider_2"]:checked ~ .shop-window__content_second {
  display: block;
}
input[id="slider_2"]:checked ~ .background-viewport {
  background-color: #98a1aa;
}
input[id="slider_3"]:checked ~ label[for="slider_3"] {
  background-color: #ffffff;
}
input[id="slider_3"]:checked ~ .shop-window__content_first,
input[id="slider_3"]:checked ~ .shop-window__content_second {
  display: none;
}
input[id="slider_3"]:checked ~ .shop-window__content_third {
  display: block;
}
input[id="slider_3"]:checked ~ .background-viewport {
  background-color: #af9e92;
}
.banners {
  padding: 0 2.3%;
}
.banners__list {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}
.banners__item {
  flex-basis: 48.846%;
}
.banner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 229px;
  padding: 20px;
  border-radius: 12px;
}
.banner__title {
  margin: 0 0 17px;
  font-size: 2.1875em;
  font-weight: 700;
  line-height: 1.17143;
}
.banner__info {
  margin: 0;
  font-size: 1.125em;
  font-weight: 700;
  line-height: 1.2223;
}
.banner__link {
  align-self: flex-end;
  margin-top: auto;
}
.banner_first {
  background: #6c1123 url("../img/raspberry-bg.jpg") no-repeat 50% 50%;
  background-size: cover;
}
.banner_second {
  background: #462b1f url("../img/chocolate-bg.jpg") no-repeat;
  background-size: cover;
}
.hits {
  padding: 0 2.3%;
}
.hits__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: block;
  width: 61px;
  height: 61px;
  background: url("../img/hit.svg") no-repeat;
}
.products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 40px 0;
  padding: 0;
}
.products__item {
  position: relative;
  flex-basis: 23.27%;
}
.products__info {
  position: relative;
  width: 100%;
}
.products__image {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.products__cost {
  position: absolute;
  bottom: 20px;
  margin: 0;
  font-size: 2.8125em;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0.5px 0.86px 3px rgba(49, 50, 53, 0.5);
}
.products__link {
  margin-top: 15px;
  text-align: center;
}
.roboto {
  font-family: Rouble;
  font-style: normal;
  font-weight: 700;
}
.roboto::after {
  content: "/кг";
  font-family: Roboto;
  font-size: 0.6666em;
  font-weight: 700;
  line-height: 1.5;
}
.map {
  width: 100%;
  height: 430px;
}
.map__img {
  position: absolute;
  z-index: -5;
}
.map__iframe {
  width: 100%;
}
.filter__submith {
  min-height: 36px;
  padding: 5px 27px;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.125;
  color: #ffffff;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffffff;
  border-radius: 12px;
  outline: none;
}
.filter__submith:hover,
.filter__submith:focus {
  color: #323232;
  background-color: #ffffff;
}
.filter__submith:active {
  padding: 7px 29px;
  color: #323232;
  background-color: #eaeaea;
  border: none;
  box-shadow: inset 0 2px 1px #696969;
}
.catalog-paginator {
  display: flex;
}
.catalog-paginator__link {
  display: block;
  width: 27px;
  height: 27px;
  padding: 5px;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.125;
  color: #323232;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}
.catalog-paginator__link:hover,
.catalog-paginator__link:focus {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
}
.catalog-paginator__link:active,
.catalog-paginator__link_active {
  color: #323232;
  background-color: #ffffff;
}
