//out: false
.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px @indent 0;
  &-bottom-wrapper {
    flex-basis: 100%;
    display: flex;
  }
}

.timetable {
  .without_indentation;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
  font-weight: 700;
  &__workhours {
    font-size: 0.875em;
    line-height: 1em;
  }
  &__tel {
    font-size: 1.375em;
    line-height: 1.5em;
  }
}
