//out: false
.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px @indent 0;
  &-bottom-wrapper {
    flex-basis: 100%;
    display: flex;
  }
  &__search {
    display: block;
    width: 33px;
    height: 33px;
    margin-left: auto;
    font-size: 0;
    background-color: rgb(176, 192, 183);
    border-radius: 50%;
  }
}
.main-nav {
  display: flex;
  align-items: center;
  &__logo {
    height: 64px;
  }
  &__list {
    display: flex;
    align-items: center;
    max-width: 435px; //ОЧЕНЬ СПОРНОЕ РЕШЕНИЕ!!!!
    min-height: 64px;
    .without_indentation;
    margin-left: 10px;
  }
}

.bread-crumbs {
  order: 1;
  display: flex;
  .without_indentation;
  margin-top: auto;
}

.timetable {
  order: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  .without_indentation;
  margin-left: auto;
  font-weight: 700;
  &__workhours {
    font-size: 0.875em;
    line-height: 1em;
  }
  &__tel {
    font-size: 1.375em;
    line-height: 1.5em;
  }
}
