//out: false
.link {
  display: block;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.125em;
  color: rgb(255, 255, 255);
  text-decoration: underline solid rgba(255, 255, 255, 0.3);

  &:hover,
  &:focus,
  &:active {
    color: rgb(255, 188, 158);
    text-decoration: underline solid rgba(255, 188, 158, 0.3);
  }
  &_dark {
    font-size: 0.8125em;
    font-weight: normal;
    line-height: 1.5;
    color: rgb(50, 50, 50);
    text-decoration: underline solid rgba(50, 50, 50, 0.3);
    &:hover,
    &:focus,
    &:active {
      color: rgb(232, 77, 55);
      text-decoration: underline solid rgba(232, 77, 55, 0.3);
    }
  }
}
