//out: false
.popup {
  position: absolute;
  display: none;
  padding: 20px 15px;
  background-color:  #f8f7f4;;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  &:hover,
  &:focus,
  &:active {
    display: block;
  }
}
